.add-food-butt {
  margin: 20px 0;
}

.table-list {
  margin: 45px 0;
  border-collapse: collapse;
}

.table-list, th, td {
  padding: 25px;
  border: 1px solid #f0f0f0;
}

.table-list tr:nth-child(odd) {
  background-color: var(--table-odd-bg);
}

.table-list tr:nth-child(even) {
  background-color: var(--table-even-bg);
}

.table-list tr:nth-child(1) {
  background-color: #a5a5a5;
}

form.new-food {
  margin: 50px 0;
  padding: 25px;
  background-color: var(--main-color);
}

form.new-food h1 {
  margin-bottom: 25px;
  text-align: center;
  color: var(--main-text-color);
}

form.new-food .field {
  width: 500px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

form.new-food input[type=text],
form.new-food input[type=number] {
  padding: 4px;
}
